{% extends 'layout.html.twig' %}
{% block title %}
    List all items
{% endblock %}

{% block content %}
    <section>
        <h1 class="text-center">Liste des Items</h1>
        <table class="table">
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td><a class="" href="item/{{ item.id }}">{{ item.title }}</a></td>
                    <td><a class="badge badge-secondary" href="item/edit/{{ item.id }}">editer</a></td>
                    <td><a class="badge badge-danger" href="item/delete/{{ item.id }}">supprimer</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="/item/add">Ajouter un item</a>
    </section>
{% endblock %}


